/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Vision;
  src: url('assets/Vision.otf');
}

html, body {
  background: #ffffff;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1, h2 { font-family: 'Vison', 'Helvetica Neue', Arial, sans-serif; }

.container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  height: calc(100% - 4rem);
  width: 100%;
}
.container.long { height: auto; min-height: calc(100% - 3rem); }

.bg-light { background: #fafafa; }
.text-faded { color: rgba(33,33,33,.8); }

#printBtn { display: none; }
#printBtn.show {
  background: transparent;
  border: none;
  box-sizing: content-box;
  display: block;
  position: fixed;

  top: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
  padding: .5rem 1rem;

  z-index: 3;
}

#printBtn.show svg {
  height: 2rem;
  width: 2rem;

  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

#printBtn.show:hover svg { stroke: #59c2ff !important; }
