<div class="container bg-light">
  <form class="in-form" action="index.html" method="post">
    <input class="in-field" id="in-field" type="file" multiple="false"
      (change)="onFileChange($event)"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
      (dragleave)="onDragLeave($event)">
    <div class="in__init">
      <h2 class="text-center text-faded">Drag and Drop Your File or Click Here</h2>
    </div>
    <!-- <div class="in__uploading"></div> -->
    <div class="in__success">
      <h2 class="text-center text-faded">Drag and Drop Your File or Click Here</h2>
    </div>
  </form>
</div>

<div id="data"></div>
<!-- <button (click)="export()">Export!</button> -->
