@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.rule-list {
  height: 80%;
  width: 75%;

  border-radius: 3rem;
  margin: auto;
  list-style: none;
  padding: 0;
}

.rule-item {
  background: #ffffff;
  border-radius: 1rem;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  /* height: 5rem; */
  width: 100%;
  margin: .8rem 0;
  padding: 1rem;

  -webkit-box-shadow: 0 3px 5px 0 rgba(42,42,42,0.25);
  -moz-box-shadow: 0 3px 5px 0 rgba(42,42,42,0.25);
  box-shadow: 0 3px 5px 0 rgba(42,42,42,0.25);

  opacity: 0;

  -webkit-transition: all .3s;
  -webkit-transition: all .3s;
  -webkit-transition: all .3s;
}
.rule-item.show {
  animation: ruleIn 1s;
  animation-fill-mode: both;
}
.rule-item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 8px 12px 0 rgba(42,42,42,0.25);
  -moz-box-shadow: 0 8px 12px 0 rgba(42,42,42,0.25);
  box-shadow: 0 8px 12px 0 rgba(42,42,42,0.25);

  -webkit-transform: translate3d(0,.2rem,0) !important;
  -moz-transform: translate3d(0,.2rem,0) !important;
  transform: translate3d(0,.2rem,0) !important;
}
.rule-item .rule-info {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.rule-item .rule-info p {
  margin: .5rem;
}
.rule-item .text-dark { color: #333; }
.rule-item .text-light { color: #aaa; }
@keyframes ruleIn {
  from {
    -webkit-transform: translate3d(0,2rem,0);
    -moz-transform: translate3d(0,2rem,0);
    transform: translate3d(0,2rem,0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

.add-btn {
  background: #59c2ff;
  border-radius: 2rem;
  bottom: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  padding: .5rem;
  position: fixed;
  right: 1rem;
  height: 3rem;
  width: 3rem;

  -webkit-box-shadow: 0 5px 7px 0 rgba(89,194,255,0.25);
  -moz-box-shadow: 0 5px 7px 0 rgba(89,194,255,0.25);
  box-shadow: 0 5px 7px 0 rgba(89,194,255,0.25);

  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}

.add-btn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.add-btn svg rect { fill: #ffffff !important; }
